DJANGO_SECRET_KEY=django-insecure-local-development-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_LANGUAGE_CODE=pt-br
DJANGO_TIME_ZONE=America/Sao_Paulo
INSIGHTS_API_HOST=127.0.0.1
INSIGHTS_API_PORT=8000
